{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Propose a theme{% endblock %}</h1>
{% endblock %} {% block content %}
<form id="createTheme">
  <input type="text" name="theme" id="theme" placeholder="here .." required />
  <button type="submit">Submit</button>
</form>
{% endblock %} {% block scripts %}
<script>
  const form = document.querySelector("#createTheme");

  async function sendData() {
    const theme = form.elements["theme"].value;

    const payload = JSON.stringify({ description: theme });

    try {
      const response = await fetch("/themes", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: payload,
      }).then((response) => {
        if (response.ok) {
          window.location.href = "/list_themes";
        } else {
          alert("Error, try again !");
        }
      });

      console.log(await response.json());
    } catch (e) {
      console.error(e);
    }
  }

  form.addEventListener("submit", (event) => {
    event.preventDefault();
    sendData();
  });
</script>
{% endblock %}
