body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fdfdfd;
  }

section.content {
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: white;
    width: 80%;
    max-width: 600px;
  }

header {
    font-family: Calibri, Arial, sans-serif;
    font-size: 12px;

    margin-bottom: 40px;
  }

h3 {
  font-family: Calibri, Arial, sans-serif;
  margin-bottom: 40px;
  text-align: left;
}

label {
  font-family: Calibri, Arial, sans-serif;
}

button {
  font-family: Calibri, Arial, sans-serif;
  border-style: solid;
  border-color: rgb(121, 254, 12);
  border-radius: 4px;
  background-color: white;
  margin-left: 10px;
}