body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fdfdfd;

    font-family: Calibri, Arial, sans-serif;;
  }

/* section.content {
    padding: 30px;
    border: 2px solid #000000;
    border-radius: 8px;
    background-color: white;
    width: 80%;
    max-width: 600px;
  } */

header {
    font-size: 12px;
    margin-bottom: 40px;
  }

.flash {
  color: red;
  font-style: italic;
  margin-bottom: 10px;
}

h1 {
  margin-bottom: 40px;
  text-align: left;
}

button {
  font-family: Calibri, Arial, sans-serif;
  border-style: solid;
  border-color: rgb(121, 254, 12);
  border-radius: 4px;
  background-color: white;
  margin-left: 10px;
}

ul.custom-bullets li::marker {
  color: rgb(121, 254, 12);
}

table {
  border: 1px solid rgb(121, 254, 12);
  border-collapse: collapse;
}

td {
  padding: 10px;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: rgb(121, 254, 12);
}

.comment {
  font-style: italic;
  /* border: 1px dashed rgb(121, 254, 12);
  width: 50%; */
  margin-top: 5px;
}